#卡数（指定执行业务占用的NPU数量；用于执行业务的NPU默认从0卡开始选取，按照deviceNum的值依次递增）
deviceNum = 5

#是否保存视频（指定是否保存视频；1表示保存贴字后的视频， 0表示不保存贴字后的视频）
saveVideo = 1

# rtsp流地址（${rtspURL}需替换为实际的rtsp流地址；rtsp流地址会按照通道数由小到大，依次分配到各个NPU上；每个NPU会处理25个rtsp流的数据）
stream.ch0 = ${rtspURL}
stream.ch1 = ${rtspURL}
stream.ch2 = ${rtspURL}
stream.ch3 = ${rtspURL}
stream.ch4 = ${rtspURL}
stream.ch5 = ${rtspURL}
stream.ch6 = ${rtspURL}
stream.ch7 = ${rtspURL}
stream.ch8 = ${rtspURL}
stream.ch9 = ${rtspURL}
stream.ch10 = ${rtspURL}
stream.ch11 = ${rtspURL}
stream.ch12 = ${rtspURL}
stream.ch13 = ${rtspURL}
stream.ch14 = ${rtspURL}
stream.ch15 = ${rtspURL}
stream.ch16 = ${rtspURL}
stream.ch17 = ${rtspURL}
stream.ch18 = ${rtspURL}
stream.ch19 = ${rtspURL}
stream.ch20 = ${rtspURL}
stream.ch21 = ${rtspURL}
stream.ch22 = ${rtspURL}
stream.ch23 = ${rtspURL}
stream.ch24 = ${rtspURL}
stream.ch25 = ${rtspURL}
stream.ch26 = ${rtspURL}
stream.ch27 = ${rtspURL}
stream.ch28 = ${rtspURL}
stream.ch29 = ${rtspURL}
stream.ch30 = ${rtspURL}
stream.ch31 = ${rtspURL}
stream.ch32 = ${rtspURL}
stream.ch33 = ${rtspURL}
stream.ch34 = ${rtspURL}
stream.ch35 = ${rtspURL}
stream.ch36 = ${rtspURL}
stream.ch37 = ${rtspURL}
stream.ch38 = ${rtspURL}
stream.ch39 = ${rtspURL}
stream.ch40 = ${rtspURL}
stream.ch41 = ${rtspURL}
stream.ch42 = ${rtspURL}
stream.ch43 = ${rtspURL}
stream.ch44 = ${rtspURL}
stream.ch45 = ${rtspURL}
stream.ch46 = ${rtspURL}
stream.ch47 = ${rtspURL}
stream.ch48 = ${rtspURL}
stream.ch49 = ${rtspURL}
stream.ch50 = ${rtspURL}
stream.ch51 = ${rtspURL}
stream.ch52 = ${rtspURL}
stream.ch53 = ${rtspURL}
stream.ch54 = ${rtspURL}
stream.ch55 = ${rtspURL}
stream.ch56 = ${rtspURL}
stream.ch57 = ${rtspURL}
stream.ch58 = ${rtspURL}
stream.ch59 = ${rtspURL}
stream.ch60 = ${rtspURL}
stream.ch61 = ${rtspURL}
stream.ch62 = ${rtspURL}
stream.ch63 = ${rtspURL}
stream.ch64 = ${rtspURL}
stream.ch65 = ${rtspURL}
stream.ch66 = ${rtspURL}
stream.ch67 = ${rtspURL}
stream.ch68 = ${rtspURL}
stream.ch69 = ${rtspURL}
stream.ch70 = ${rtspURL}
stream.ch71 = ${rtspURL}
stream.ch72 = ${rtspURL}
stream.ch73 = ${rtspURL}
stream.ch74 = ${rtspURL}
stream.ch75 = ${rtspURL}
stream.ch76 = ${rtspURL}
stream.ch77 = ${rtspURL}
stream.ch78 = ${rtspURL}
stream.ch79 = ${rtspURL}
stream.ch80 = ${rtspURL}
stream.ch81 = ${rtspURL}
stream.ch82 = ${rtspURL}
stream.ch83 = ${rtspURL}
stream.ch84 = ${rtspURL}
stream.ch85 = ${rtspURL}
stream.ch86 = ${rtspURL}
stream.ch87 = ${rtspURL}
stream.ch88 = ${rtspURL}
stream.ch89 = ${rtspURL}
stream.ch90 = ${rtspURL}
stream.ch91 = ${rtspURL}
stream.ch92 = ${rtspURL}
stream.ch93 = ${rtspURL}
stream.ch94 = ${rtspURL}
stream.ch95 = ${rtspURL}
stream.ch96 = ${rtspURL}
stream.ch97 = ${rtspURL}
stream.ch98 = ${rtspURL}
stream.ch99 = ${rtspURL}
stream.ch100 = ${rtspURL}
stream.ch101 = ${rtspURL}
stream.ch102 = ${rtspURL}
stream.ch103 = ${rtspURL}
stream.ch104 = ${rtspURL}
stream.ch105 = ${rtspURL}
stream.ch106 = ${rtspURL}
stream.ch107 = ${rtspURL}
stream.ch108 = ${rtspURL}
stream.ch109 = ${rtspURL}
stream.ch110 = ${rtspURL}
stream.ch111 = ${rtspURL}
stream.ch112 = ${rtspURL}
stream.ch113 = ${rtspURL}
stream.ch114 = ${rtspURL}
stream.ch115 = ${rtspURL}
stream.ch116 = ${rtspURL}
stream.ch117 = ${rtspURL}
stream.ch118 = ${rtspURL}
stream.ch119 = ${rtspURL}
stream.ch120 = ${rtspURL}
stream.ch121 = ${rtspURL}
stream.ch122 = ${rtspURL}
stream.ch123 = ${rtspURL}
stream.ch124 = ${rtspURL}